*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    border: 1px solid black;
}

.left-container{
    flex: 0.6;
    padding: 1em 1em;
}
.main{
    display: flex;
    gap: 4em;
    flex-direction: column;
    justify-content: center;
    padding-left: 5em;
    
    height: 80vh;
    text-align: left;
    border: 2px solid black;
}
.quotes{
    font-size: 80px;
    font-weight: bold;
    /* border: 2px solid black; */
    
}
.quotes, .footer{
    width: 80%;
    align-self: center;
}

.footer{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 1.5em;
    text-align: left;
}

.footer > .left{
    color: white;
    border: 1px solid black;
    background-color: black;
    padding: 0.7em 1.5em;
}
.footer > .right{
    padding: 0.7em 1.5em;
}
.footer > .right:hover{
    background-color: gray;
    color: white;
}

.right-container{
    background-color: lightgray;
    flex: 0.4;
}