.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: rgb(37, 37, 37);
  padding: 20px 0;
}

.footer-item {
  line-height: 1.5;
  border-right: 1px solid transparent;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.footer-label {
  border-color: white;
}

.footer svg {
  color: white;
  font-size: 30px;
}

@media screen and (max-width: 532px) {
  .footer {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .footer-label{
    width: 100%;
    justify-content: flex-start;
    padding-bottom: 5px;
    margin-bottom: 5px ;
  }

  .footer-item {
    line-height: 1.2;
  }
  .footer-label {
    border-color: transparent;
    border-bottom: 2px solid white ;
  }
}
